body {
	font-size: 1.7em;
	font-family: 'Source Sans Pro', sans-serif, Helvetica;
	color: #cccccc;
	background-image: url("../interface/backgrnd.jpg");
	background-position: center top;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-color: #000000; }

div {
	border: 0px solid red; }

.navbar-inverse {
	border: 0px;
	border-bottom: 1px solid #dd002a;
	background-color: #000000; }
.navbar-inverse li a {
	border-bottom: 3px solid #000000; }
.navbar-inverse li a:hover {
	border-bottom: 3px solid #dd002a; }
.navbar-brand h3 {
	margin-top: 0px;
	max-height: 100%;
	display: inline-block; }

footer {
	font-size: 0.9em; }

#logo{
	margin-bottom: 20px; }

h1, h2, h3 {
	font-family: 'UnifrakturCook', cursive; }

aside{
	background-color: rgba(222, 0, 0, 0.5);
	padding: 15px; }

.panel-news > .panel-body {
	min-height: 300px;
	background-color:black;
	color: white; }
.panel-news > .panel-heading {
	background-color: rgb(111, 0, 0);
	color: white;
	text-align: center; }
.panel-news {
	border-color: rgb(111, 0, 0); }
.panel-news > .panel-footer {
	background-color: rgb(111, 0, 0); }
