body {
	font-size: 1.8em;
	font-family: 'Source Sans Pro', sans-serif, Helvetica;
	color: #0a0a0a;
	background-image: url("../interface/pressback.png");
	background-position: center top;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-color: #ffffff; }

/*div {border: 0px solid red; }*/

footer {
	font-size: 0.9em; }
}

#logo {
	margin-bottom: 20px; }

h2, h3 {
	margin-bottom: 30px; }

h1, h3 {
	font-family: 'UnifrakturCook', cursive; }

aside{
	background-color: rgba(190, 160, 126, 0.7);
	padding: 15px; }

#pressbody {
 	padding-left: 30px;
	padding-right: 30px; }
#pressbody p {
	text-align: justify;
	text-indent: 10px;
	margin-bottom: 20px; }

.fotothumb {
  border: 0px;
  box-shadow: 0 0 0 1px rgba(10, 10, 10, 0.5);
  display: inline-block;
  line-height: 0;
  max-width: 100%;
  transition: box-shadow 200ms ease-out;
  border-radius: 0;
  margin-bottom: 1rem; }
.fotothumb:hover, .fotothumb:focus {
  box-shadow: 0 0 6px 1px rgb(111, 0, 0); }

#mc_embed_signup {
	background:#fff; clear:left; font:14px Helvetica,Arial,sans-serif; width:100%; }
/* Add your own MailChimp form style overrides in your site stylesheet or in this style block.
	 We recommend moving this block and the preceding CSS link to the HEAD of your HTML file. */
